.questcard--colorchanges {
  filter: invert(100%);
}

.displayPages {
  display: flex;
}

.displayNone {
  display: none;
}

.activeButton {
  text-shadow: 0 0 10px white, 0 0 20px #18191a;
}

.submitted {
  background-color: #5d478d;
}
